.passwords-item {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.left-container {
  display: flex;
  align-items: center;
}

.websiteInitial {
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  background-color: #0b69ff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.mid-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.text {
  font-size: 10px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #ffffff;
  margin: 0px;
}

.delete-container {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete-button {
  width: 25px;
  height: 25px;
  background-size: cover;
}
